<h1>Редактирование профиля</h1>

<%= form_with model: @profile,
              url: my_profile_path,
              method: :patch,
              local: true,
              multipart: true do |f| %>

  <div>
    <%= f.label :avatar, "Аватар" %><br>
    <%= f.file_field :avatar %>
  </div>

  <div>
    <%= f.label :bio, "О себе" %><br>
    <%= f.text_area :bio %>
  </div>

  <div>
    <%= f.label :private, "Закрытый профиль" %>
    <%= f.check_box :private %>
  </div>

  <%= f.submit "Сохранить" %>
<% end %>

<hr>

<%= link_to "Мой профиль", my_profile_path %>

